@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 245 245 255;
  --foreground: 15 23 42;
}

html, body, :root { height: 100%; }

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.container-narrow { max-width: 1100px; }
